.restaurant {
    margin-bottom: 20px;
}

.restaurantTags {
    display: flex;
}

.restaurantTags p {
    margin: 5px 5px 5px 0;
    font-size: 14px;
}

.restaurant a {
    font-size: 14px;
}

.name, .happyHourName {
    font-weight: bold;
    text-decoration: underline;
}

.happyHourName {
    margin-bottom: 3px;
}

.subname {
    font-weight: bold;
}

.subtext {
    font-size: 14px;
    margin-bottom: 5px;
}

.filterContainer {
    display: flex;
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 50px;
}

.filter label {
    margin-right: 10px;
}

.day {
    margin-bottom: 20px;
    text-transform: uppercase;
}

@media only screen and (max-width: 500px){
    .filterContainer {
        flex-direction: column;
    }

    .filter {
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .filter > div {
        min-width: 50vw;
    }

    .restaurant {
        margin-top: 30px;
    }

    .restaurantTags {
        flex-wrap: wrap;
    }

    .restaurantsContainer {
        border-bottom: 1px solid #eaca47;
        overflow-y: scroll;
        height: 51vh;
        overflow-x: clip;
    }

    .restaurantsContainer::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    .restaurantsContainer::-webkit-scrollbar:vertical {
        width: 5px;
    }
    
    .restaurantsContainer::-webkit-scrollbar:horizontal {
        height: 5px;
    }
    
    .restaurantsContainer ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid #eaca47;
    }
    
    .restaurantsContainer::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #eaca47;
    }
}
