.restaurant {
    margin-bottom: 20px;
}

.restaurantTags {
    display: flex;
}

.restaurantTags p {
    margin: 5px 5px 5px 0;
    font-size: 14px;
}

.restaurant a {
    font-size: 14px;
}

.name {
    font-weight: bold;
}

.filterContainer {
    display: flex;
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 50px;
}

.filter label {
    margin-right: 10px;
}

@media only screen and (max-width: 500px){
    .filterContainer {
        flex-direction: column;
    }

    .filter {
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .filter > div {
        min-width: 50vw;
    }

    .restaurant {
        margin-top: 30px;
    }

    .restaurantTags {
        flex-wrap: wrap;
    }
}
