.restaurant {
    margin-bottom: 30px;
}

.restaurantTags {
    display: flex;
}

.restaurantTags p {
    margin: 5px 5px 5px 0;
    font-size: 16px;
}

.restaurant a {
    font-size: 16px;
}

.name, .happyHourName {
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}

.happyHourName {
    margin-bottom: 3px;
}

.subname {
    font-weight: bold;
}

.subtext {
    font-size: 14px;
    margin-bottom: 5px;
}

.filterContainer {
    display: flex;
}

.filter {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 50px;
}

.filter label {
    margin-right: 10px;
}

.day {
    margin-bottom: 20px;
    text-transform: uppercase;
}

@media only screen and (max-width: 500px){
    .filterContainer {
        flex-direction: column;
        margin-top: 20px;
        border-bottom: 1px solid black;
    }

    .filter {
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .filter > div {
        min-width: 50vw;
    }

    .restaurant {
        margin-top: 40px;
    }

    .restaurantTags {
        flex-wrap: wrap;
    }

    .restaurantsContainer {
        border-bottom: 1px solid #eaca47;
        overflow-y: scroll;
        height: 65vh;
        overflow-x: clip;
    }
}
